<font size="7"><span style="color: #33D6CC;">Ingenier√≠a de atributos</span></font>

In [7]:
! pip install seaborn

Requirement already satisfied: seaborn in c:\users\albam\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\albam\anaconda3\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=0.25 in c:\users\albam\anaconda3\lib\site-packages (from seaborn) (2.1.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\albam\anaconda3\lib\site-packages (from seaborn) (3.7.5)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\albam\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\albam\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\albam\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\albam\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\albam\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\albam\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\albam\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\albam\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\albam\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\albam\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\albam\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('limpio_final.csv')
df

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,surface,tourney_level,winner_name,winner_hand,winner_ioc,loser_name,loser_hand,loser_ioc,score,round
0,32.0,19910107,101142,180.000000,25.6,101746,175.000000,20.6,3,63.0,...,Hard,A,Emilio Sanchez,R,ESP,Renzo Furlan,R,ITA,6-4 6-1,32.0
1,32.0,19910107,101613,180.000000,21.5,100587,188.000000,31.8,3,72.0,...,Hard,A,Malivai Washington,R,USA,Steve Guy,R,NZL,6-3 6-2,32.0
2,32.0,19910107,101179,185.000000,25.3,101601,185.000000,21.6,3,101.0,...,Hard,A,Jean Philippe Fleurian,R,FRA,Brett Steven,R,NZL,2-6 6-1 6-2,32.0
3,32.0,19910107,101117,180.000000,25.8,101332,173.000000,23.8,3,108.0,...,Hard,A,Eric Jelen,R,GER,Gilad Bloom,L,ISR,6-3 1-6 6-4,32.0
4,32.0,19910107,101901,185.000000,19.7,101735,196.000000,20.6,3,65.0,...,Hard,A,Chuck Adams,R,USA,Richard Fromberg,R,AUS,6-3 6-4,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89201,4.0,20240203,105430,175.000000,34.2,212051,185.267928,18.8,3,81.0,...,Clay,D,Radu Albot,R,MDA,Joaquin Aguilar Cardozo,U,URU,6-2 6-3,128.0
89202,4.0,20240203,105430,175.000000,34.2,208364,185.000000,23.9,3,95.0,...,Clay,D,Radu Albot,R,MDA,Franco Roncadelli,L,URU,6-3 6-1,128.0
89203,4.0,20240203,212051,185.832809,18.8,209943,185.267928,21.8,3,77.0,...,Clay,D,Joaquin Aguilar Cardozo,U,URU,Ilya Snitari,U,MDA,6-1 6-0,128.0
89204,4.0,20240202,122533,185.832809,26.9,202475,185.267928,23.2,3,131.0,...,Hard,D,Nam Hoang Ly,R,VIE,Philip Henning,R,RSA,6-3 6-4,128.0
89205,4.0,20240202,122533,185.832809,26.9,144748,185.267928,27.3,3,159.0,...,Hard,D,Nam Hoang Ly,R,VIE,Kris Van Wyk,U,RSA,6-4 3-6 6-3,128.0

In [3]:
df.isnull().any().sum()

0

In [4]:
df.columns

Index(['draw_size', 'tourney_date', 'winner_id', 'winner_ht', 'winner_age',
       'loser_id', 'loser_ht', 'loser_age', 'best_of', 'minutes', 'w_ace',
       'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms',
       'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn',
       'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points',
       'sets', 'tourney_name', 'surface', 'tourney_level', 'winner_name',
       'winner_hand', 'winner_ioc', 'loser_name', 'loser_hand', 'loser_ioc',
       'score', 'round'],
      dtype='object')

## Fecha torneo

In [5]:
    # variable a√±o_torneo
df['tourney_year'] = (df['tourney_date'].astype(str).str.slice(0, 4)).astype(int)
df.head(1)

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,tourney_level,winner_name,winner_hand,winner_ioc,loser_name,loser_hand,loser_ioc,score,round,tourney_year
0,32.0,19910107,101142,180.0,25.6,101746,175.0,20.6,3,63.0,...,A,Emilio Sanchez,R,ESP,Renzo Furlan,R,ITA,6-4 6-1,32.0,1991

In [6]:
    # variable mes_torneo
df['tourney_month'] = (df['tourney_date'].astype(str).str.slice(4,6)).astype(int)
df.head(1)

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,winner_name,winner_hand,winner_ioc,loser_name,loser_hand,loser_ioc,score,round,tourney_year,tourney_month
0,32.0,19910107,101142,180.0,25.6,101746,175.0,20.6,3,63.0,...,Emilio Sanchez,R,ESP,Renzo Furlan,R,ITA,6-4 6-1,32.0,1991,1

In [7]:
    #variable estaci√≥n 
estacion=[]
for i in df.tourney_month:
     if i<4:
        i='invierno'
        estacion.append(i)
     elif 4<=i<=6:
        i='primavera'
        estacion.append(i)
     elif 6<i<=9:
        i='verano'
        estacion.append(i)
     else:
        i='oto√±o'
        estacion.append(i)
df['estacion']=estacion
df.head(1)

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,winner_hand,winner_ioc,loser_name,loser_hand,loser_ioc,score,round,tourney_year,tourney_month,estacion
0,32.0,19910107,101142,180.0,25.6,101746,175.0,20.6,3,63.0,...,R,ESP,Renzo Furlan,R,ITA,6-4 6-1,32.0,1991,1,invierno

In [8]:
df.isnull().sum().any()

False

## edad

In [9]:
     # rendondear la edad 
df['winner_age'] = np.floor(df['winner_age'])
df['loser_age'] = np.floor(df['loser_age'])
df[['winner_age','loser_age']]

       winner_age  loser_age
0            25.0       20.0
1            21.0       31.0
2            25.0       21.0
3            25.0       23.0
4            19.0       20.0
...           ...        ...
89201        34.0       18.0
89202        34.0       23.0
89203        18.0       21.0
89204        26.0       23.0
89205        26.0       27.0

[89206 rows x 2 columns]

In [10]:
    # VARIABLE DIFERENCIA DE EDAD
df['dif_age'] = (df['winner_age'] - df['loser_age']).abs()
df.head()

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,winner_ioc,loser_name,loser_hand,loser_ioc,score,round,tourney_year,tourney_month,estacion,dif_age
0,32.0,19910107,101142,180.0,25.0,101746,175.0,20.0,3,63.0,...,ESP,Renzo Furlan,R,ITA,6-4 6-1,32.0,1991,1,invierno,5.0
1,32.0,19910107,101613,180.0,21.0,100587,188.0,31.0,3,72.0,...,USA,Steve Guy,R,NZL,6-3 6-2,32.0,1991,1,invierno,10.0
2,32.0,19910107,101179,185.0,25.0,101601,185.0,21.0,3,101.0,...,FRA,Brett Steven,R,NZL,2-6 6-1 6-2,32.0,1991,1,invierno,4.0
3,32.0,19910107,101117,180.0,25.0,101332,173.0,23.0,3,108.0,...,GER,Gilad Bloom,L,ISR,6-3 1-6 6-4,32.0,1991,1,invierno,2.0
4,32.0,19910107,101901,185.0,19.0,101735,196.0,20.0,3,65.0,...,USA,Richard Fromberg,R,AUS,6-3 6-4,32.0,1991,1,invierno,1.0

In [11]:
df.isnull().sum().any()

False

## Raking

In [12]:
    # VARIABLE DIFERENCIA DE RANKING 
df['dif_rank'] = (df['winner_rank'] - df['loser_rank']).abs()
df.head()

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,loser_name,loser_hand,loser_ioc,score,round,tourney_year,tourney_month,estacion,dif_age,dif_rank
0,32.0,19910107,101142,180.0,25.0,101746,175.0,20.0,3,63.0,...,Renzo Furlan,R,ITA,6-4 6-1,32.0,1991,1,invierno,5.0,69.0
1,32.0,19910107,101613,180.0,21.0,100587,188.0,31.0,3,72.0,...,Steve Guy,R,NZL,6-3 6-2,32.0,1991,1,invierno,10.0,126.0
2,32.0,19910107,101179,185.0,25.0,101601,185.0,21.0,3,101.0,...,Brett Steven,R,NZL,2-6 6-1 6-2,32.0,1991,1,invierno,4.0,135.0
3,32.0,19910107,101117,180.0,25.0,101332,173.0,23.0,3,108.0,...,Gilad Bloom,L,ISR,6-3 1-6 6-4,32.0,1991,1,invierno,2.0,7.0
4,32.0,19910107,101901,185.0,19.0,101735,196.0,20.0,3,65.0,...,Richard Fromberg,R,AUS,6-3 6-4,32.0,1991,1,invierno,1.0,162.0

In [13]:
df[['winner_rank_points','loser_rank_points']]

       winner_rank_points  loser_rank_points
0                  1487.0              459.0
1                   371.0              114.0
2                   468.0              116.0
3                   502.0              483.0
4                   142.0              876.0
...                   ...                ...
89201               489.0                8.0
89202               489.0               55.0
89203                 8.0               34.0
89204                67.0               32.0
89205                67.0              109.0

[89206 rows x 2 columns]

In [14]:
    # VARIABLE PROPORCI√ìN RANKING 
df['prop_dif_rank'] =  df[['winner_rank', 'loser_rank']].max(axis=1)/ df[['winner_rank_points', 'loser_rank_points']].min(axis=1)
df.head()

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,loser_hand,loser_ioc,score,round,tourney_year,tourney_month,estacion,dif_age,dif_rank,prop_dif_rank
0,32.0,19910107,101142,180.0,25.0,101746,175.0,20.0,3,63.0,...,R,ITA,6-4 6-1,32.0,1991,1,invierno,5.0,69.0,0.169935
1,32.0,19910107,101613,180.0,21.0,100587,188.0,31.0,3,72.0,...,R,NZL,6-3 6-2,32.0,1991,1,invierno,10.0,126.0,1.929825
2,32.0,19910107,101179,185.0,25.0,101601,185.0,21.0,3,101.0,...,R,NZL,2-6 6-1 6-2,32.0,1991,1,invierno,4.0,135.0,1.827586
3,32.0,19910107,101117,180.0,25.0,101332,173.0,23.0,3,108.0,...,L,ISR,6-3 1-6 6-4,32.0,1991,1,invierno,2.0,7.0,0.149068
4,32.0,19910107,101901,185.0,19.0,101735,196.0,20.0,3,65.0,...,R,AUS,6-3 6-4,32.0,1991,1,invierno,1.0,162.0,1.338028

In [15]:
    # VARIABLE DIFERENCIA DE RANK_POINTS
df['dif_rank_points'] = (df['winner_rank_points'] - df['loser_rank_points']).abs()
df.head()

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,loser_ioc,score,round,tourney_year,tourney_month,estacion,dif_age,dif_rank,prop_dif_rank,dif_rank_points
0,32.0,19910107,101142,180.0,25.0,101746,175.0,20.0,3,63.0,...,ITA,6-4 6-1,32.0,1991,1,invierno,5.0,69.0,0.169935,1028.0
1,32.0,19910107,101613,180.0,21.0,100587,188.0,31.0,3,72.0,...,NZL,6-3 6-2,32.0,1991,1,invierno,10.0,126.0,1.929825,257.0
2,32.0,19910107,101179,185.0,25.0,101601,185.0,21.0,3,101.0,...,NZL,2-6 6-1 6-2,32.0,1991,1,invierno,4.0,135.0,1.827586,352.0
3,32.0,19910107,101117,180.0,25.0,101332,173.0,23.0,3,108.0,...,ISR,6-3 1-6 6-4,32.0,1991,1,invierno,2.0,7.0,0.149068,19.0
4,32.0,19910107,101901,185.0,19.0,101735,196.0,20.0,3,65.0,...,AUS,6-3 6-4,32.0,1991,1,invierno,1.0,162.0,1.338028,734.0

In [16]:
    # VARIABLE PROPORCI√ìN RANK_POINTS 
df['prop_dif_rank_points'] =  df[['winner_rank_points', 'loser_rank_points']].max(axis=1)/ df[['winner_rank_points', 'loser_rank_points']].min(axis=1)
df.head()

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,score,round,tourney_year,tourney_month,estacion,dif_age,dif_rank,prop_dif_rank,dif_rank_points,prop_dif_rank_points
0,32.0,19910107,101142,180.0,25.0,101746,175.0,20.0,3,63.0,...,6-4 6-1,32.0,1991,1,invierno,5.0,69.0,0.169935,1028.0,3.239651
1,32.0,19910107,101613,180.0,21.0,100587,188.0,31.0,3,72.0,...,6-3 6-2,32.0,1991,1,invierno,10.0,126.0,1.929825,257.0,3.254386
2,32.0,19910107,101179,185.0,25.0,101601,185.0,21.0,3,101.0,...,2-6 6-1 6-2,32.0,1991,1,invierno,4.0,135.0,1.827586,352.0,4.034483
3,32.0,19910107,101117,180.0,25.0,101332,173.0,23.0,3,108.0,...,6-3 1-6 6-4,32.0,1991,1,invierno,2.0,7.0,0.149068,19.0,1.039337
4,32.0,19910107,101901,185.0,19.0,101735,196.0,20.0,3,65.0,...,6-3 6-4,32.0,1991,1,invierno,1.0,162.0,1.338028,734.0,6.169014

In [17]:
    # cambiar winner_rank y loser_rank a 1/rank ya que el primero es mejor que el ultimo 
df['winner_rank'] = 1/df['winner_rank']
df['loser_rank'] = 1/df['loser_rank']
df[['winner_rank','loser_rank']]

       winner_rank  loser_rank
0         0.111111    0.012821
1         0.010638    0.004545
2         0.012987    0.004717
3         0.015385    0.013889
4         0.005263    0.035714
...            ...         ...
89201     0.007353    0.000902
89202     0.007353    0.001623
89203     0.000902    0.001351
89204     0.001805    0.001337
89205     0.001805    0.002404

[89206 rows x 2 columns]

In [18]:
df.isnull().sum().any()

False

## ALTURA

In [19]:
    # VARIABLE DIFERENCIA DE ALTURA
df['dif_ht'] = (df['winner_ht'] - df['loser_ht']).abs()
df.head()

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,round,tourney_year,tourney_month,estacion,dif_age,dif_rank,prop_dif_rank,dif_rank_points,prop_dif_rank_points,dif_ht
0,32.0,19910107,101142,180.0,25.0,101746,175.0,20.0,3,63.0,...,32.0,1991,1,invierno,5.0,69.0,0.169935,1028.0,3.239651,5.0
1,32.0,19910107,101613,180.0,21.0,100587,188.0,31.0,3,72.0,...,32.0,1991,1,invierno,10.0,126.0,1.929825,257.0,3.254386,8.0
2,32.0,19910107,101179,185.0,25.0,101601,185.0,21.0,3,101.0,...,32.0,1991,1,invierno,4.0,135.0,1.827586,352.0,4.034483,0.0
3,32.0,19910107,101117,180.0,25.0,101332,173.0,23.0,3,108.0,...,32.0,1991,1,invierno,2.0,7.0,0.149068,19.0,1.039337,7.0
4,32.0,19910107,101901,185.0,19.0,101735,196.0,20.0,3,65.0,...,32.0,1991,1,invierno,1.0,162.0,1.338028,734.0,6.169014,11.0

In [20]:
df.isnull().sum().any()

False

## SCORE

In [21]:
   #variable sets por partido
sets=[]
for i in df.score:
     sets.append(len(i.split()))
   
df['sets']=sets
df.head(3)

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,round,tourney_year,tourney_month,estacion,dif_age,dif_rank,prop_dif_rank,dif_rank_points,prop_dif_rank_points,dif_ht
0,32.0,19910107,101142,180.0,25.0,101746,175.0,20.0,3,63.0,...,32.0,1991,1,invierno,5.0,69.0,0.169935,1028.0,3.239651,5.0
1,32.0,19910107,101613,180.0,21.0,100587,188.0,31.0,3,72.0,...,32.0,1991,1,invierno,10.0,126.0,1.929825,257.0,3.254386,8.0
2,32.0,19910107,101179,185.0,25.0,101601,185.0,21.0,3,101.0,...,32.0,1991,1,invierno,4.0,135.0,1.827586,352.0,4.034483,0.0

In [22]:
     # VARIABLE sets promedio que se hacen por ronda y torneo
df['sets_mean_toronda'] = df.groupby(['tourney_name', 'round'])['sets'].transform('mean')
df[['round']]

       round
0       32.0
1       32.0
2       32.0
3       32.0
4       32.0
...      ...
89201  128.0
89202  128.0
89203  128.0
89204  128.0
89205  128.0

[89206 rows x 1 columns]

In [23]:
    # Variable juegos por partido
def suma_juegos_partido(x):
        sets=x.split()
        suma=0
        for set in sets:
            #print(re.sub("\(\d\)","", set))
            set_n=re.sub("\(\d\)","", set)
            score1=re.findall("\d+",set_n)[0]
            score2=re.findall("\d+",set_n)[1]
            suma+=int(score1)
            suma+=int(score2)
        return suma
df['juegos'] = df.score.apply(suma_juegos_partido)
df.head(1)

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,tourney_month,estacion,dif_age,dif_rank,prop_dif_rank,dif_rank_points,prop_dif_rank_points,dif_ht,sets_mean_toronda,juegos
0,32.0,19910107,101142,180.0,25.0,101746,175.0,20.0,3,63.0,...,1,invierno,5.0,69.0,0.169935,1028.0,3.239651,5.0,2.337931,17

In [24]:
    # variable JUEGOS promedio por ronda y torneo
df['juegos_mean_toronda'] = df.groupby(['tourney_name', 'round'])['juegos'].transform('mean')
df.head(2)

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,estacion,dif_age,dif_rank,prop_dif_rank,dif_rank_points,prop_dif_rank_points,dif_ht,sets_mean_toronda,juegos,juegos_mean_toronda
0,32.0,19910107,101142,180.0,25.0,101746,175.0,20.0,3,63.0,...,invierno,5.0,69.0,0.169935,1028.0,3.239651,5.0,2.337931,17,22.622989
1,32.0,19910107,101613,180.0,21.0,100587,188.0,31.0,3,72.0,...,invierno,10.0,126.0,1.929825,257.0,3.254386,8.0,2.337931,17,22.622989

In [25]:
df.isnull().sum().any()

False

## Ronda

In [26]:
df['round'].unique()

array([ 32.,  16.,   8.,   4.,   2., 128.,  64., 256.])

In [27]:
    # VARIBALE NUM_RONDA
rondas = {256:1, 128:2, 64:3, 32:4, 16:5, 8:6, 4:7, 2:8}
df['num_ronda'] = df['round'].map(rondas)
df['num_ronda'].unique()

array([4, 5, 6, 7, 8, 2, 3, 1], dtype=int64)

In [28]:
    #variable ronda = 1/round
df['ronda'] = 1/df['round']
df.head(1)

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,dif_rank,prop_dif_rank,dif_rank_points,prop_dif_rank_points,dif_ht,sets_mean_toronda,juegos,juegos_mean_toronda,num_ronda,ronda
0,32.0,19910107,101142,180.0,25.0,101746,175.0,20.0,3,63.0,...,69.0,0.169935,1028.0,3.239651,5.0,2.337931,17,22.622989,4,0.03125

In [29]:
df.isnull().sum().any()

False

## Jugadores

In [30]:
    # VARIABLE RATIO DE VICTORIAS (Contando hasta ese partido)

# Inicializar los diccionarios para almacenar victorias y derrotas acumuladas
player_wins = {}
player_losses = {}

# Listas para almacenar los ratios calculados
win_ratios_winner = []
win_ratios_loser = []

# Iterar sobre el DataFrame para calcular los ratios de victorias acumuladas
for index, row in df.iterrows():
        winner = row['winner_id']
        loser = row['loser_id']
               
        # Actualizar victorias y derrotas acumuladas para el ganador
        if winner not in player_wins:
            player_wins[winner] = 0
            player_losses[winner] = 0
        
        # Actualizar el ratio del ganador
        total_games_winner = player_wins[winner] + player_losses.get(winner, 0)
        win_ratio_winner = player_wins[winner] / total_games_winner if total_games_winner > 0 else 0
        win_ratios_winner.append(win_ratio_winner)
        player_wins[winner] += 1
    
        # Actualizar victorias y derrotas acumuladas para el perdedor
        if loser not in player_wins:
            player_wins[loser] = 0
            player_losses[loser] = 0
                
        # Actualizar el ratio del perdedor
        total_games_loser = player_wins[loser] + player_losses[loser]
        win_ratio_loser = player_wins[loser] / total_games_loser if total_games_loser > 0 else 0
        win_ratios_loser.append(win_ratio_loser)
        player_losses[loser] += 1
    
# A√±adir las columnas al DataFrame original
df['winner_win_ratio'] = win_ratios_winner
df['loser_win_ratio'] = win_ratios_loser
df

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,dif_rank_points,prop_dif_rank_points,dif_ht,sets_mean_toronda,juegos,juegos_mean_toronda,num_ronda,ronda,winner_win_ratio,loser_win_ratio
0,32.0,19910107,101142,180.000000,25.0,101746,175.000000,20.0,3,63.0,...,1028.0,3.239651,5.000000,2.337931,17,22.622989,4,0.031250,0.000000,0.0
1,32.0,19910107,101613,180.000000,21.0,100587,188.000000,31.0,3,72.0,...,257.0,3.254386,8.000000,2.337931,17,22.622989,4,0.031250,0.000000,0.0
2,32.0,19910107,101179,185.000000,25.0,101601,185.000000,21.0,3,101.0,...,352.0,4.034483,0.000000,2.337931,23,22.622989,4,0.031250,0.000000,0.0
3,32.0,19910107,101117,180.000000,25.0,101332,173.000000,23.0,3,108.0,...,19.0,1.039337,7.000000,2.337931,26,22.622989,4,0.031250,0.000000,0.0
4,32.0,19910107,101901,185.000000,19.0,101735,196.000000,20.0,3,65.0,...,734.0,6.169014,11.000000,2.337931,19,22.622989,4,0.031250,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89201,4.0,20240203,105430,175.000000,34.0,212051,185.267928,18.0,3,81.0,...,481.0,61.125000,10.267928,2.250000,17,17.500000,2,0.007812,0.391705,0.0
89202,4.0,20240203,105430,175.000000,34.0,208364,185.000000,23.0,3,95.0,...,434.0,8.890909,10.000000,2.250000,16,17.500000,2,0.007812,0.394495,1.0
89203,4.0,20240203,212051,185.832809,18.0,209943,185.267928,21.0,3,77.0,...,26.0,4.250000,0.564881,2.250000,13,17.500000,2,0.007812,0.000000,0.0
89204,4.0,20240202,122533,185.832809,26.0,202475,185.267928,23.0,3,131.0,...,35.0,2.093750,0.564881,2.500000,19,23.500000,2,0.007812,1.000000,0.0
89205,4.0,20240202,122533,185.832809,26.0,144748,185.267928,27.0,3,159.0,...,42.0,1.626866,0.564881,2.500000,28,23.500000,2,0.007812,1.000000,0.0

In [31]:
df.isnull().sum().any()

False

In [32]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [33]:
    # VARIABLE DIFERENCIA DE WIN_RATIO
df['dif_win_ratio'] = (df['winner_win_ratio'] - df['loser_win_ratio']).abs()
df.head(5)

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,prop_dif_rank_points,dif_ht,sets_mean_toronda,juegos,juegos_mean_toronda,num_ronda,ronda,winner_win_ratio,loser_win_ratio,dif_win_ratio
0,32.0,19910107,101142,180.0,25.0,101746,175.0,20.0,3,63.0,...,3.239651,5.0,2.337931,17,22.622989,4,0.03125,0.0,0.0,0.0
1,32.0,19910107,101613,180.0,21.0,100587,188.0,31.0,3,72.0,...,3.254386,8.0,2.337931,17,22.622989,4,0.03125,0.0,0.0,0.0
2,32.0,19910107,101179,185.0,25.0,101601,185.0,21.0,3,101.0,...,4.034483,0.0,2.337931,23,22.622989,4,0.03125,0.0,0.0,0.0
3,32.0,19910107,101117,180.0,25.0,101332,173.0,23.0,3,108.0,...,1.039337,7.0,2.337931,26,22.622989,4,0.03125,0.0,0.0,0.0
4,32.0,19910107,101901,185.0,19.0,101735,196.0,20.0,3,65.0,...,6.169014,11.0,2.337931,19,22.622989,4,0.03125,0.0,0.0,0.0

In [34]:
df.isnull().sum().any()

False

In [35]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [36]:
    #VARIABLE RATIO_WIN_SURFACE (Contando hasta ese partido)
# Inicializar los diccionarios para almacenar victorias y derrotas acumuladas
player_wins = {}
player_losses = {}

# Listas para almacenar los ratios calculados
win_ratios_winner = []
win_ratios_loser = []

# Iterar sobre el DataFrame para calcular los ratios de victorias acumuladas
for index, row in df.iterrows():
        winner = row['winner_id']
        loser = row['loser_id']
        surface=row['surface']
        winner_surface=str(winner)+surface
        loser_surface=str(loser)+surface
        
        # Actualizar victorias y derrotas acumuladas para el ganador
        if winner_surface not in player_wins:
            player_wins[winner_surface] = 0
            player_losses[winner_surface] = 0
        
        
        # Actualizar el ratio del ganador
        total_games_winner = player_wins[winner_surface] + player_losses.get(winner_surface, 0)
        win_ratio_winner = player_wins[winner_surface] / total_games_winner if total_games_winner > 0 else 0
        win_ratios_winner.append(win_ratio_winner)
        player_wins[winner_surface] += 1
        # Actualizar victorias y derrotas acumuladas para el perdedor
        if loser_surface not in player_wins:
            player_wins[loser_surface] = 0
            player_losses[loser_surface] = 0

     
        # Actualizar el ratio del perdedor
        total_games_loser = player_wins[loser_surface] + player_losses[loser_surface]
        win_ratio_loser = player_wins[loser_surface] / total_games_loser if total_games_loser > 0 else 0
        win_ratios_loser.append(win_ratio_loser)
        player_losses[loser_surface] += 1
    
# A√±adir las columnas al DataFrame original
df['winner_wrat_surface'] = win_ratios_winner
df['loser_wrat_surface'] = win_ratios_loser
df.head()

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,sets_mean_toronda,juegos,juegos_mean_toronda,num_ronda,ronda,winner_win_ratio,loser_win_ratio,dif_win_ratio,winner_wrat_surface,loser_wrat_surface
0,32.0,19910107,101142,180.0,25.0,101746,175.0,20.0,3,63.0,...,2.337931,17,22.622989,4,0.03125,0.0,0.0,0.0,0.0,0.0
1,32.0,19910107,101613,180.0,21.0,100587,188.0,31.0,3,72.0,...,2.337931,17,22.622989,4,0.03125,0.0,0.0,0.0,0.0,0.0
2,32.0,19910107,101179,185.0,25.0,101601,185.0,21.0,3,101.0,...,2.337931,23,22.622989,4,0.03125,0.0,0.0,0.0,0.0,0.0
3,32.0,19910107,101117,180.0,25.0,101332,173.0,23.0,3,108.0,...,2.337931,26,22.622989,4,0.03125,0.0,0.0,0.0,0.0,0.0
4,32.0,19910107,101901,185.0,19.0,101735,196.0,20.0,3,65.0,...,2.337931,19,22.622989,4,0.03125,0.0,0.0,0.0,0.0,0.0

In [37]:
df.isnull().sum().any()

False

In [38]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [39]:
    # VARIABLE DIF_WRAT_SURFACE 
df['dif_wrat_surface'] = (df['winner_wrat_surface'] - df['loser_wrat_surface']).abs()
df.head()

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,juegos,juegos_mean_toronda,num_ronda,ronda,winner_win_ratio,loser_win_ratio,dif_win_ratio,winner_wrat_surface,loser_wrat_surface,dif_wrat_surface
0,32.0,19910107,101142,180.0,25.0,101746,175.0,20.0,3,63.0,...,17,22.622989,4,0.03125,0.0,0.0,0.0,0.0,0.0,0.0
1,32.0,19910107,101613,180.0,21.0,100587,188.0,31.0,3,72.0,...,17,22.622989,4,0.03125,0.0,0.0,0.0,0.0,0.0,0.0
2,32.0,19910107,101179,185.0,25.0,101601,185.0,21.0,3,101.0,...,23,22.622989,4,0.03125,0.0,0.0,0.0,0.0,0.0,0.0
3,32.0,19910107,101117,180.0,25.0,101332,173.0,23.0,3,108.0,...,26,22.622989,4,0.03125,0.0,0.0,0.0,0.0,0.0,0.0
4,32.0,19910107,101901,185.0,19.0,101735,196.0,20.0,3,65.0,...,19,22.622989,4,0.03125,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
df.isnull().sum().any()

False

In [41]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [42]:
     # VARIABLE J_AVG_ACE (hasta ese partido)

# Inicializar los diccionarios para almacenar victorias y derrotas acumuladas y aces acumulados
player_wins = {}
player_losses = {}
aces_win={}
aces_los={}

# Listas para almacenar los avg de los aces

winner_avg_aces = []
loser_avg_aces = []

# Iterar sobre el DataFrame para calcular los ratios de victorias acumuladas
for index, row in df.iterrows():
        winner = row['winner_id']
        loser = row['loser_id']
        w_ace = row['w_ace']
        l_ace = row['l_ace']
               
        # Actualizar victorias y derrotas acumuladas para el ganador
        if winner not in player_wins:
            player_wins[winner] = 0
            player_losses[winner] = 0
        if winner not in aces_win:
            aces_win[winner] = 0
            aces_los[winner] = 0
        
        # Actualizar el promedio de aces del ganador
        total_games_winner = player_wins[winner] + player_losses.get(winner, 0)
        total_aces_winner = aces_win[winner] + aces_los.get(winner,0)
        winner_avg_ace = total_aces_winner / total_games_winner if total_games_winner > 0 else 0
        winner_avg_aces.append(winner_avg_ace)
        aces_win[winner]+=w_ace
        player_wins[winner] += 1
    
        # Actualizar victorias y derrotas acumuladas para el perdedor
        if loser not in player_wins:
            player_wins[loser] = 0 
            player_losses[loser] = 0
        if loser not in aces_win:
            aces_win[loser] = 0
            aces_los[loser] = 0         
            
        # Actualizar el promedio de aces del perdedor
        total_games_loser = player_wins[loser] + player_losses.get(loser, 0)
        total_aces_loser = aces_win[loser] + aces_los.get(loser,0)
        loser_avg_ace = total_aces_loser / total_games_loser if total_games_loser > 0 else 0
        loser_avg_aces.append(loser_avg_ace)
        aces_los[loser]+=l_ace
        player_losses[loser] += 1
    
# A√±adir las columnas al DataFrame original
df['winner_avg_ace'] = winner_avg_aces
df['loser_avg_ace'] = loser_avg_aces
df

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,num_ronda,ronda,winner_win_ratio,loser_win_ratio,dif_win_ratio,winner_wrat_surface,loser_wrat_surface,dif_wrat_surface,winner_avg_ace,loser_avg_ace
0,32.0,19910107,101142,180.000000,25.0,101746,175.000000,20.0,3,63.0,...,4,0.031250,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
1,32.0,19910107,101613,180.000000,21.0,100587,188.000000,31.0,3,72.0,...,4,0.031250,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
2,32.0,19910107,101179,185.000000,25.0,101601,185.000000,21.0,3,101.0,...,4,0.031250,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
3,32.0,19910107,101117,180.000000,25.0,101332,173.000000,23.0,3,108.0,...,4,0.031250,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
4,32.0,19910107,101901,185.000000,19.0,101735,196.000000,20.0,3,65.0,...,4,0.031250,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89201,4.0,20240203,105430,175.000000,34.0,212051,185.267928,18.0,3,81.0,...,2,0.007812,0.391705,0.0,0.391705,0.350877,0.0,0.350877,2.806452,0.0
89202,4.0,20240203,105430,175.000000,34.0,208364,185.000000,23.0,3,95.0,...,2,0.007812,0.394495,1.0,0.605505,0.362069,1.0,0.637931,2.802752,1.0
89203,4.0,20240203,212051,185.832809,18.0,209943,185.267928,21.0,3,77.0,...,2,0.007812,0.000000,0.0,0.000000,0.000000,0.0,0.000000,1.000000,0.0
89204,4.0,20240202,122533,185.832809,26.0,202475,185.267928,23.0,3,131.0,...,2,0.007812,1.000000,0.0,1.000000,1.000000,0.0,1.000000,3.666667,0.0
89205,4.0,20240202,122533,185.832809,26.0,144748,185.267928,27.0,3,159.0,...,2,0.007812,1.000000,0.0,1.000000,1.000000,0.0,1.000000,3.000000,0.0

In [43]:
df.isnull().sum().any()

False

In [44]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [45]:
    # VARIABLE DIF_AVG_ACE
df['dif_avg_aces'] = (df['winner_avg_ace'] - df['loser_avg_ace']).abs()
df

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,ronda,winner_win_ratio,loser_win_ratio,dif_win_ratio,winner_wrat_surface,loser_wrat_surface,dif_wrat_surface,winner_avg_ace,loser_avg_ace,dif_avg_aces
0,32.0,19910107,101142,180.000000,25.0,101746,175.000000,20.0,3,63.0,...,0.031250,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
1,32.0,19910107,101613,180.000000,21.0,100587,188.000000,31.0,3,72.0,...,0.031250,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
2,32.0,19910107,101179,185.000000,25.0,101601,185.000000,21.0,3,101.0,...,0.031250,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
3,32.0,19910107,101117,180.000000,25.0,101332,173.000000,23.0,3,108.0,...,0.031250,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
4,32.0,19910107,101901,185.000000,19.0,101735,196.000000,20.0,3,65.0,...,0.031250,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89201,4.0,20240203,105430,175.000000,34.0,212051,185.267928,18.0,3,81.0,...,0.007812,0.391705,0.0,0.391705,0.350877,0.0,0.350877,2.806452,0.0,2.806452
89202,4.0,20240203,105430,175.000000,34.0,208364,185.000000,23.0,3,95.0,...,0.007812,0.394495,1.0,0.605505,0.362069,1.0,0.637931,2.802752,1.0,1.802752
89203,4.0,20240203,212051,185.832809,18.0,209943,185.267928,21.0,3,77.0,...,0.007812,0.000000,0.0,0.000000,0.000000,0.0,0.000000,1.000000,0.0,1.000000
89204,4.0,20240202,122533,185.832809,26.0,202475,185.267928,23.0,3,131.0,...,0.007812,1.000000,0.0,1.000000,1.000000,0.0,1.000000,3.666667,0.0,3.666667
89205,4.0,20240202,122533,185.832809,26.0,144748,185.267928,27.0,3,159.0,...,0.007812,1.000000,0.0,1.000000,1.000000,0.0,1.000000,3.000000,0.0,3.000000

In [46]:
df.isnull().sum().any()

False

In [47]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [48]:
    # VARIABLE J_AVG_ACE_SURFACE (hasta ese partido)

# Inicializar los diccionarios para almacenar victorias y derrotas acumuladas y aces acumulados
player_wins = {}
player_losses = {}
aces_win={}
aces_los={}

# Listas para almacenar los avg de los aces

winner_avg_aces = []
loser_avg_aces = []

# Iterar sobre el DataFrame para calcular los ratios de victorias acumuladas
for index, row in df.iterrows():
        winner = row['winner_id']
        loser = row['loser_id']
        w_ace = row['w_ace']
        l_ace = row['l_ace']
        surface=row['surface']
        winner_surface=str(winner)+surface
        loser_surface=str(loser)+surface
               
        # Actualizar victorias y derrotas acumuladas para el ganador
        if winner_surface not in player_wins:
            player_wins[winner_surface] = 0
           
        if winner_surface not in aces_win:
            aces_win[winner_surface] = 0
            
        
        # Actualizar el promedio de aces del ganador
        total_games_winner = player_wins.get(winner_surface,0) + player_losses.get(winner_surface, 0)
        total_aces_winner = aces_win.get(winner_surface,0) + aces_los.get(winner_surface,0)
        winner_avg_ace = total_aces_winner / total_games_winner if total_games_winner > 0 else 0
        winner_avg_aces.append(winner_avg_ace)
        aces_win[winner_surface]+=w_ace
        player_wins[winner_surface] += 1
    
        # Actualizar victorias y derrotas acumuladas para el perdedor
        if loser_surface not in player_losses:
            
            player_losses[loser_surface] = 0
        if loser not in aces_los:
            
            aces_los[loser_surface] = 0         
            
        # Actualizar el promedio de aces del perdedor
        total_games_loser = player_wins.get(loser_surface,0) + player_losses.get(loser_surface, 0)
        total_aces_loser = aces_win.get(loser_surface,0) + aces_los.get(loser_surface,0)
        loser_avg_ace = total_aces_loser / total_games_loser if total_games_loser > 0 else 0
        loser_avg_aces.append(loser_avg_ace)
        aces_los[loser_surface]+=l_ace
        player_losses[loser_surface] += 1
    
# A√±adir las columnas al DataFrame original
df['winner_avg_ace_surface'] = winner_avg_aces
df['loser_avg_ace_surface'] = loser_avg_aces
df.head()

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,loser_win_ratio,dif_win_ratio,winner_wrat_surface,loser_wrat_surface,dif_wrat_surface,winner_avg_ace,loser_avg_ace,dif_avg_aces,winner_avg_ace_surface,loser_avg_ace_surface
0,32.0,19910107,101142,180.0,25.0,101746,175.0,20.0,3,63.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,32.0,19910107,101613,180.0,21.0,100587,188.0,31.0,3,72.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,32.0,19910107,101179,185.0,25.0,101601,185.0,21.0,3,101.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,32.0,19910107,101117,180.0,25.0,101332,173.0,23.0,3,108.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,32.0,19910107,101901,185.0,19.0,101735,196.0,20.0,3,65.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
df.isnull().sum().any()

False

In [50]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [51]:
    # VARIABLE DIF_AVG_ACE_SURFACE
df['dis_avg_ace_surface'] = (df['winner_avg_ace_surface'] - df['loser_avg_ace_surface']).abs()
df.head()

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,dif_win_ratio,winner_wrat_surface,loser_wrat_surface,dif_wrat_surface,winner_avg_ace,loser_avg_ace,dif_avg_aces,winner_avg_ace_surface,loser_avg_ace_surface,dis_avg_ace_surface
0,32.0,19910107,101142,180.0,25.0,101746,175.0,20.0,3,63.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,32.0,19910107,101613,180.0,21.0,100587,188.0,31.0,3,72.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,32.0,19910107,101179,185.0,25.0,101601,185.0,21.0,3,101.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,32.0,19910107,101117,180.0,25.0,101332,173.0,23.0,3,108.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,32.0,19910107,101901,185.0,19.0,101735,196.0,20.0,3,65.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
df.isnull().sum().any()

False

In [53]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [54]:
    # VARIABLE J_avg_bpS (PROMEDIO DE PUNTOS DE BREAK QUE SALVA,hasta ese partido)
# 1¬∫ Crear variable ratio_BPS
df['winner_rat_bpS'] = df['w_bpSaved'] / df['w_bpFaced']
df['loser_rat_bpS'] = df['l_bpSaved'] / df['l_bpFaced']

In [55]:
df.isnull().any()
    #Imputar NaN
df.winner_rat_bpS.fillna(0, inplace=True)
df.loser_rat_bpS.fillna(0, inplace=True)

In [56]:
df.isnull().sum().any()

False

In [57]:
df.isin([np.inf, -np.inf]).sum().any()

True

In [58]:
df.shape

(89206, 72)

In [59]:
df[df['loser_rat_bpS'].isin([np.inf, -np.inf])][['l_bpSaved','l_bpFaced','loser_rat_bpS']]

     l_bpSaved  l_bpFaced  loser_rat_bpS
771       -4.0        0.0           -inf

In [60]:
df.drop(index=771,inplace=True)

In [61]:
df.shape

(89205, 72)

In [62]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [63]:
    # VARIABLE J_avg_bpS (PROMEDIO DE PUNTOS DE BREAK QUE SALVA,hasta ese partido)

# Inicializar los diccionarios para almacenar victorias y derrotas acumuladas y aces acumulados
player_wins = {}
player_losses = {}
bpSs_win={}
bpSs_los={}

# Listas para almacenar los avg de los aces

winner_avg_bpSs = []
loser_avg_bpSs = []

# Iterar sobre el DataFrame para calcular los ratios de victorias acumuladas
for index, row in df.iterrows():
        winner = row['winner_id']
        loser = row['loser_id']
        w_bpS = row['winner_rat_bpS']
        l_bpS = row['loser_rat_bpS']
               
        # Actualizar victorias y derrotas acumuladas para el ganador
        if winner not in player_wins:
            player_wins[winner] = 0
            player_losses[winner] = 0
        if winner not in bpSs_win:
            bpSs_win[winner] = 0
            bpSs_los[winner] = 0
        
        # Actualizar el promedio de aces del ganador
        total_games_winner = player_wins[winner] + player_losses.get(winner, 0)
        total_bpSs_winner = bpSs_win[winner] + bpSs_los.get(winner,0)
        winner_avg_bpS = total_bpSs_winner / total_games_winner if total_games_winner > 0 else 0
        winner_avg_bpSs.append(winner_avg_bpS)
        bpSs_win[winner]+=w_bpS
        player_wins[winner] += 1
    
        # Actualizar victorias y derrotas acumuladas para el perdedor
        if loser not in player_wins:
            player_wins[loser] = 0 
            player_losses[loser] = 0
        if loser not in bpSs_win:
            bpSs_win[loser] = 0
            bpSs_los[loser] = 0         
            
        # Actualizar el promedio de aces del perdedor
        total_games_loser = player_wins[loser] + player_losses.get(loser, 0)
        total_bpSs_loser = bpSs_win[loser] + bpSs_los.get(loser,0)
        loser_avg_bpS = total_bpSs_loser / total_games_loser if total_games_loser > 0 else 0
        loser_avg_bpSs.append(loser_avg_bpS)
        bpSs_los[loser]+=l_bpS
        player_losses[loser] += 1
    
# A√±adir las columnas al DataFrame original
df['winner_avg_bpS'] = winner_avg_bpSs
df['loser_avg_bpS'] = loser_avg_bpSs
df

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,winner_avg_ace,loser_avg_ace,dif_avg_aces,winner_avg_ace_surface,loser_avg_ace_surface,dis_avg_ace_surface,winner_rat_bpS,loser_rat_bpS,winner_avg_bpS,loser_avg_bpS
0,32.0,19910107,101142,180.000000,25.0,101746,175.000000,20.0,3,63.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.833333,0.333333,0.000000,0.000000
1,32.0,19910107,101613,180.000000,21.0,100587,188.000000,31.0,3,72.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.500000,0.636364,0.000000,0.000000
2,32.0,19910107,101179,185.000000,25.0,101601,185.000000,21.0,3,101.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.500000,0.500000,0.000000,0.000000
3,32.0,19910107,101117,180.000000,25.0,101332,173.000000,23.0,3,108.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.600000,0.666667,0.000000,0.000000
4,32.0,19910107,101901,185.000000,19.0,101735,196.000000,20.0,3,65.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,1.000000,0.666667,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89201,4.0,20240203,105430,175.000000,34.0,212051,185.267928,18.0,3,81.0,...,2.806452,0.0,2.806452,0.929825,0.0,0.929825,0.500000,0.000000,0.539940,0.000000
89202,4.0,20240203,105430,175.000000,34.0,208364,185.000000,23.0,3,95.0,...,2.802752,1.0,1.802752,0.948276,1.0,0.051724,0.750000,0.545455,0.539757,0.555556
89203,4.0,20240203,212051,185.832809,18.0,209943,185.267928,21.0,3,77.0,...,1.000000,0.0,1.000000,1.000000,0.0,1.000000,1.000000,0.571429,0.000000,0.500000
89204,4.0,20240202,122533,185.832809,26.0,202475,185.267928,23.0,3,131.0,...,3.666667,0.0,3.666667,3.666667,0.0,3.666667,0.888889,0.250000,0.523810,0.000000
89205,4.0,20240202,122533,185.832809,26.0,144748,185.267928,27.0,3,159.0,...,3.000000,0.0,3.000000,3.000000,0.0,3.000000,0.400000,0.555556,0.615079,0.000000

In [64]:
df.isnull().sum().any()

False

In [65]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [66]:
   # VARIABLE DIF_AVG_BPS
df['dis_avg_bpS'] = (df['winner_avg_bpS'] - df['loser_avg_bpS']).abs()
df.head()

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,loser_avg_ace,dif_avg_aces,winner_avg_ace_surface,loser_avg_ace_surface,dis_avg_ace_surface,winner_rat_bpS,loser_rat_bpS,winner_avg_bpS,loser_avg_bpS,dis_avg_bpS
0,32.0,19910107,101142,180.0,25.0,101746,175.0,20.0,3,63.0,...,0.0,0.0,0.0,0.0,0.0,0.833333,0.333333,0.0,0.0,0.0
1,32.0,19910107,101613,180.0,21.0,100587,188.0,31.0,3,72.0,...,0.0,0.0,0.0,0.0,0.0,0.500000,0.636364,0.0,0.0,0.0
2,32.0,19910107,101179,185.0,25.0,101601,185.0,21.0,3,101.0,...,0.0,0.0,0.0,0.0,0.0,0.500000,0.500000,0.0,0.0,0.0
3,32.0,19910107,101117,180.0,25.0,101332,173.0,23.0,3,108.0,...,0.0,0.0,0.0,0.0,0.0,0.600000,0.666667,0.0,0.0,0.0
4,32.0,19910107,101901,185.0,19.0,101735,196.0,20.0,3,65.0,...,0.0,0.0,0.0,0.0,0.0,1.000000,0.666667,0.0,0.0,0.0

In [67]:
df.isnull().sum().any()

False

In [68]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [69]:
    # VARIABLE J_AVG_BPS_SURFACE
# Inicializar los diccionarios para almacenar victorias y derrotas acumuladas y aces acumulados
player_wins = {}
player_losses = {}
bpSs_win={}
bpSs_los={}

# Listas para almacenar los avg de los aces

winner_avg_bpSs = []
loser_avg_bpSs = []

# Iterar sobre el DataFrame para calcular los ratios de victorias acumuladas
for index, row in df.iterrows():
        winner = row['winner_id']
        loser = row['loser_id']
        w_bpS = row['w_bpSaved']
        l_bpS = row['l_bpSaved']
        surface=row['surface']
        winner_surface=str(winner)+surface
        loser_surface=str(loser)+surface
               
        # Actualizar victorias y derrotas acumuladas para el ganador
        if winner_surface not in player_wins:
            player_wins[winner_surface] = 0
           
        if winner_surface not in bpSs_win:
            bpSs_win[winner_surface] = 0
            
        
        # Actualizar el promedio de aces del ganador
        total_games_winner = player_wins.get(winner_surface,0) + player_losses.get(winner_surface, 0)
        total_bpSs_winner = bpSs_win.get(winner_surface,0) + bpSs_los.get(winner_surface,0)
        winner_avg_bpS = total_bpSs_winner / total_games_winner if total_games_winner > 0 else 0
        winner_avg_bpSs.append(winner_avg_bpS)
        bpSs_win[winner_surface]+=w_bpS
        player_wins[winner_surface] += 1
    
        # Actualizar victorias y derrotas acumuladas para el perdedor
        if loser_surface not in player_losses:
            
            player_losses[loser_surface] = 0
        if loser not in bpSs_los:
            
            bpSs_los[loser_surface] = 0         
            
        # Actualizar el promedio de aces del perdedor
        total_games_loser = player_wins.get(loser_surface,0) + player_losses.get(loser_surface, 0)
        total_bpSs_loser = bpSs_win.get(loser_surface,0) + bpSs_los.get(loser_surface,0)
        loser_avg_bpS = total_bpSs_loser / total_games_loser if total_games_loser > 0 else 0
        loser_avg_bpSs.append(loser_avg_bpS)
        bpSs_los[loser_surface]+=l_bpS
        player_losses[loser_surface] += 1
    
# A√±adir las columnas al DataFrame original
df['winner_avg_bpS_surface'] = winner_avg_bpSs
df['loser_avg_bpS_surface'] = loser_avg_bpSs
df

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,winner_avg_ace_surface,loser_avg_ace_surface,dis_avg_ace_surface,winner_rat_bpS,loser_rat_bpS,winner_avg_bpS,loser_avg_bpS,dis_avg_bpS,winner_avg_bpS_surface,loser_avg_bpS_surface
0,32.0,19910107,101142,180.000000,25.0,101746,175.000000,20.0,3,63.0,...,0.000000,0.0,0.000000,0.833333,0.333333,0.000000,0.000000,0.000000,0.000000,0.0
1,32.0,19910107,101613,180.000000,21.0,100587,188.000000,31.0,3,72.0,...,0.000000,0.0,0.000000,0.500000,0.636364,0.000000,0.000000,0.000000,0.000000,0.0
2,32.0,19910107,101179,185.000000,25.0,101601,185.000000,21.0,3,101.0,...,0.000000,0.0,0.000000,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.0
3,32.0,19910107,101117,180.000000,25.0,101332,173.000000,23.0,3,108.0,...,0.000000,0.0,0.000000,0.600000,0.666667,0.000000,0.000000,0.000000,0.000000,0.0
4,32.0,19910107,101901,185.000000,19.0,101735,196.000000,20.0,3,65.0,...,0.000000,0.0,0.000000,1.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89201,4.0,20240203,105430,175.000000,34.0,212051,185.267928,18.0,3,81.0,...,0.929825,0.0,0.929825,0.500000,0.000000,0.539940,0.000000,0.539940,1.263158,0.0
89202,4.0,20240203,105430,175.000000,34.0,208364,185.000000,23.0,3,95.0,...,0.948276,1.0,0.051724,0.750000,0.545455,0.539757,0.555556,0.015799,1.275862,5.0
89203,4.0,20240203,212051,185.832809,18.0,209943,185.267928,21.0,3,77.0,...,1.000000,0.0,1.000000,1.000000,0.571429,0.000000,0.500000,0.500000,0.000000,0.0
89204,4.0,20240202,122533,185.832809,26.0,202475,185.267928,23.0,3,131.0,...,3.666667,0.0,3.666667,0.888889,0.250000,0.523810,0.000000,0.523810,3.333333,0.0
89205,4.0,20240202,122533,185.832809,26.0,144748,185.267928,27.0,3,159.0,...,3.000000,0.0,3.000000,0.400000,0.555556,0.615079,0.000000,0.615079,4.500000,0.0

In [70]:
df.isnull().sum().any()

False

In [71]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [72]:
    # VARIABLE DIF_AVG_BPS
df['dif_avg_bpS_surface'] = (df['winner_avg_bpS_surface'] - df['loser_avg_bpS_surface']).abs()
df

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,loser_avg_ace_surface,dis_avg_ace_surface,winner_rat_bpS,loser_rat_bpS,winner_avg_bpS,loser_avg_bpS,dis_avg_bpS,winner_avg_bpS_surface,loser_avg_bpS_surface,dif_avg_bpS_surface
0,32.0,19910107,101142,180.000000,25.0,101746,175.000000,20.0,3,63.0,...,0.0,0.000000,0.833333,0.333333,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
1,32.0,19910107,101613,180.000000,21.0,100587,188.000000,31.0,3,72.0,...,0.0,0.000000,0.500000,0.636364,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2,32.0,19910107,101179,185.000000,25.0,101601,185.000000,21.0,3,101.0,...,0.0,0.000000,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
3,32.0,19910107,101117,180.000000,25.0,101332,173.000000,23.0,3,108.0,...,0.0,0.000000,0.600000,0.666667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
4,32.0,19910107,101901,185.000000,19.0,101735,196.000000,20.0,3,65.0,...,0.0,0.000000,1.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89201,4.0,20240203,105430,175.000000,34.0,212051,185.267928,18.0,3,81.0,...,0.0,0.929825,0.500000,0.000000,0.539940,0.000000,0.539940,1.263158,0.0,1.263158
89202,4.0,20240203,105430,175.000000,34.0,208364,185.000000,23.0,3,95.0,...,1.0,0.051724,0.750000,0.545455,0.539757,0.555556,0.015799,1.275862,5.0,3.724138
89203,4.0,20240203,212051,185.832809,18.0,209943,185.267928,21.0,3,77.0,...,0.0,1.000000,1.000000,0.571429,0.000000,0.500000,0.500000,0.000000,0.0,0.000000
89204,4.0,20240202,122533,185.832809,26.0,202475,185.267928,23.0,3,131.0,...,0.0,3.666667,0.888889,0.250000,0.523810,0.000000,0.523810,3.333333,0.0,3.333333
89205,4.0,20240202,122533,185.832809,26.0,144748,185.267928,27.0,3,159.0,...,0.0,3.000000,0.400000,0.555556,0.615079,0.000000,0.615079,4.500000,0.0,4.500000

In [73]:
df.isnull().sum().any()

False

In [74]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [75]:
    # VARIABLE AVG_ratio de puntos que gana con su primer servicio 

# 1¬∫ Crear variable ratio_win1st
df['winner_win1st'] = df['w_1stWon'] / df['w_1stIn']
df['loser_win1st'] = df['l_1stWon'] / df['l_1stIn']

In [76]:
df.isnull().sum().any()

True

In [77]:
    #IMPUTAR NAN
df.winner_win1st.fillna(0, inplace=True)
df.loser_win1st.fillna(0, inplace=True)

In [78]:
df.isnull().sum().any()

False

In [79]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [80]:
    # VARIABLE AVG_porcentaje de puntos que gana con su primer servicio
# 2¬∫
# Inicializar los diccionarios para almacenar victorias y derrotas acumuladas y aces acumulados
player_wins = {}
player_losses = {}
win1sts_win={}
win1sts_los={}

# Listas para almacenar los avg de los aces

winner_avg_win1sts = []
loser_avg_win1sts = []

# Iterar sobre el DataFrame para calcular los ratios de victorias acumuladas
for index, row in df.iterrows():
        winner = row['winner_id']
        loser = row['loser_id']
        w_win1st = row['winner_win1st']
        l_win1st = row['loser_win1st']
               
        # Actualizar victorias y derrotas acumuladas para el ganador
        if winner not in player_wins:
            player_wins[winner] = 0
            player_losses[winner] = 0
        if winner not in win1sts_win:
            win1sts_win[winner] = 0
            win1sts_los[winner] = 0
        
        # Actualizar el promedio de aces del ganador
        total_games_winner = player_wins[winner] + player_losses.get(winner, 0)
        total_win1sts_winner = win1sts_win[winner] + win1sts_los.get(winner,0)
        winner_avg_win1st = total_win1sts_winner / total_games_winner if total_games_winner > 0 else 0
        winner_avg_win1sts.append(winner_avg_win1st)
        win1sts_win[winner]+=w_win1st
        player_wins[winner] += 1
    
        # Actualizar victorias y derrotas acumuladas para el perdedor
        if loser not in player_wins:
            player_wins[loser] = 0 
            player_losses[loser] = 0
        if loser not in win1sts_win:
            win1sts_win[loser] = 0
            win1sts_los[loser] = 0         
            
        # Actualizar el promedio de aces del perdedor
        total_games_loser = player_wins[loser] + player_losses.get(loser, 0)
        total_win1sts_loser = win1sts_win[loser] + win1sts_los.get(loser,0)
        loser_avg_win1st = total_win1sts_loser / total_games_loser if total_games_loser > 0 else 0
        loser_avg_win1sts.append(loser_avg_win1st)
        win1sts_los[loser]+=l_win1st
        player_losses[loser] += 1
    
# A√±adir las columnas al DataFrame original
df['winner_avg_win1st'] = winner_avg_win1sts
df['loser_avg_win1st'] = loser_avg_win1sts
df

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,winner_avg_bpS,loser_avg_bpS,dis_avg_bpS,winner_avg_bpS_surface,loser_avg_bpS_surface,dif_avg_bpS_surface,winner_win1st,loser_win1st,winner_avg_win1st,loser_avg_win1st
0,32.0,19910107,101142,180.000000,25.0,101746,175.000000,20.0,3,63.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.810811,0.566667,0.000000,0.000000
1,32.0,19910107,101613,180.000000,21.0,100587,188.000000,31.0,3,72.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.680000,0.733333,0.000000,0.000000
2,32.0,19910107,101179,185.000000,25.0,101601,185.000000,21.0,3,101.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.636364,0.558140,0.000000,0.000000
3,32.0,19910107,101117,180.000000,25.0,101332,173.000000,23.0,3,108.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.636364,0.622951,0.000000,0.000000
4,32.0,19910107,101901,185.000000,19.0,101735,196.000000,20.0,3,65.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.739130,0.840000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89201,4.0,20240203,105430,175.000000,34.0,212051,185.267928,18.0,3,81.0,...,0.539940,0.000000,0.539940,1.263158,0.0,1.263158,0.727273,0.419355,0.657264,0.000000
89202,4.0,20240203,105430,175.000000,34.0,208364,185.000000,23.0,3,95.0,...,0.539757,0.555556,0.015799,1.275862,5.0,3.724138,0.633333,0.500000,0.657585,0.620000
89203,4.0,20240203,212051,185.832809,18.0,209943,185.267928,21.0,3,77.0,...,0.000000,0.500000,0.500000,0.000000,0.0,0.000000,0.681818,0.566667,0.419355,0.461538
89204,4.0,20240202,122533,185.832809,26.0,202475,185.267928,23.0,3,131.0,...,0.523810,0.000000,0.523810,3.333333,0.0,3.333333,0.666667,0.609756,0.668269,0.000000
89205,4.0,20240202,122533,185.832809,26.0,144748,185.267928,27.0,3,159.0,...,0.615079,0.000000,0.615079,4.500000,0.0,4.500000,0.672131,0.627451,0.667869,0.000000

In [81]:
df.isnull().sum().any()

False

In [82]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [83]:
    #VARIABLE DIF_AVG_WIN1ST
df['dif_avg_win1st'] = (df['winner_avg_win1st'] - df['loser_avg_win1st']).abs()
df

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,loser_avg_bpS,dis_avg_bpS,winner_avg_bpS_surface,loser_avg_bpS_surface,dif_avg_bpS_surface,winner_win1st,loser_win1st,winner_avg_win1st,loser_avg_win1st,dif_avg_win1st
0,32.0,19910107,101142,180.000000,25.0,101746,175.000000,20.0,3,63.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.810811,0.566667,0.000000,0.000000,0.000000
1,32.0,19910107,101613,180.000000,21.0,100587,188.000000,31.0,3,72.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.680000,0.733333,0.000000,0.000000,0.000000
2,32.0,19910107,101179,185.000000,25.0,101601,185.000000,21.0,3,101.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.636364,0.558140,0.000000,0.000000,0.000000
3,32.0,19910107,101117,180.000000,25.0,101332,173.000000,23.0,3,108.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.636364,0.622951,0.000000,0.000000,0.000000
4,32.0,19910107,101901,185.000000,19.0,101735,196.000000,20.0,3,65.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.739130,0.840000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89201,4.0,20240203,105430,175.000000,34.0,212051,185.267928,18.0,3,81.0,...,0.000000,0.539940,1.263158,0.0,1.263158,0.727273,0.419355,0.657264,0.000000,0.657264
89202,4.0,20240203,105430,175.000000,34.0,208364,185.000000,23.0,3,95.0,...,0.555556,0.015799,1.275862,5.0,3.724138,0.633333,0.500000,0.657585,0.620000,0.037585
89203,4.0,20240203,212051,185.832809,18.0,209943,185.267928,21.0,3,77.0,...,0.500000,0.500000,0.000000,0.0,0.000000,0.681818,0.566667,0.419355,0.461538,0.042184
89204,4.0,20240202,122533,185.832809,26.0,202475,185.267928,23.0,3,131.0,...,0.000000,0.523810,3.333333,0.0,3.333333,0.666667,0.609756,0.668269,0.000000,0.668269
89205,4.0,20240202,122533,185.832809,26.0,144748,185.267928,27.0,3,159.0,...,0.000000,0.615079,4.500000,0.0,4.500000,0.672131,0.627451,0.667869,0.000000,0.667869

In [84]:
df.isnull().sum().any()

False

In [85]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [86]:
# VARIABLE AVG_ratio de puntos que gana con su primer servicio_surface
# Inicializar los diccionarios para almacenar victorias y derrotas acumuladas y aces acumulados
player_wins = {}
player_losses = {}
win1sts_win={}
win1sts_los={}

# Listas para almacenar los avg de los aces

winner_avg_win1sts = []
loser_avg_win1sts = []

# Iterar sobre el DataFrame para calcular los ratios de victorias acumuladas
for index, row in df.iterrows():
        winner = row['winner_id']
        loser = row['loser_id']
        w_win1st = row['winner_win1st']
        l_win1st = row['loser_win1st']
        surface=row['surface']
        winner_surface=str(winner)+surface
        loser_surface=str(loser)+surface
               
        # Actualizar victorias y derrotas acumuladas para el ganador
        if winner_surface not in player_wins:
            player_wins[winner_surface] = 0
           
        if winner_surface not in win1sts_win:
            win1sts_win[winner_surface] = 0
            
        
        # Actualizar el promedio de aces del ganador
        total_games_winner = player_wins.get(winner_surface,0) + player_losses.get(winner_surface, 0)
        total_win1sts_winner = win1sts_win.get(winner_surface,0) + win1sts_los.get(winner_surface,0)
        winner_avg_win1st = total_win1sts_winner / total_games_winner if total_games_winner > 0 else 0
        winner_avg_win1sts.append(winner_avg_win1st)
        win1sts_win[winner_surface]+=w_win1st
        player_wins[winner_surface] += 1
    
        # Actualizar victorias y derrotas acumuladas para el perdedor
        if loser_surface not in player_losses:
            
            player_losses[loser_surface] = 0
        if loser not in win1sts_los:
            
           win1sts_los[loser_surface] = 0         
            
        # Actualizar el promedio de aces del perdedor
        total_games_loser = player_wins.get(loser_surface,0) + player_losses.get(loser_surface, 0)
        total_win1sts_loser = win1sts_win.get(loser_surface,0) + win1sts_los.get(loser_surface,0)
        loser_avg_win1st = total_win1sts_loser / total_games_loser if total_games_loser > 0 else 0
        loser_avg_win1sts.append(loser_avg_win1st)
        win1sts_los[loser_surface]+=l_win1st
        player_losses[loser_surface] += 1
    
# A√±adir las columnas al DataFrame original
df['winner_avg_win1st_surface'] = winner_avg_win1sts
df['loser_avg_win1st_surface'] = loser_avg_win1sts
df

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,winner_avg_bpS_surface,loser_avg_bpS_surface,dif_avg_bpS_surface,winner_win1st,loser_win1st,winner_avg_win1st,loser_avg_win1st,dif_avg_win1st,winner_avg_win1st_surface,loser_avg_win1st_surface
0,32.0,19910107,101142,180.000000,25.0,101746,175.000000,20.0,3,63.0,...,0.000000,0.0,0.000000,0.810811,0.566667,0.000000,0.000000,0.000000,0.000000,0.00
1,32.0,19910107,101613,180.000000,21.0,100587,188.000000,31.0,3,72.0,...,0.000000,0.0,0.000000,0.680000,0.733333,0.000000,0.000000,0.000000,0.000000,0.00
2,32.0,19910107,101179,185.000000,25.0,101601,185.000000,21.0,3,101.0,...,0.000000,0.0,0.000000,0.636364,0.558140,0.000000,0.000000,0.000000,0.000000,0.00
3,32.0,19910107,101117,180.000000,25.0,101332,173.000000,23.0,3,108.0,...,0.000000,0.0,0.000000,0.636364,0.622951,0.000000,0.000000,0.000000,0.000000,0.00
4,32.0,19910107,101901,185.000000,19.0,101735,196.000000,20.0,3,65.0,...,0.000000,0.0,0.000000,0.739130,0.840000,0.000000,0.000000,0.000000,0.000000,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89201,4.0,20240203,105430,175.000000,34.0,212051,185.267928,18.0,3,81.0,...,1.263158,0.0,1.263158,0.727273,0.419355,0.657264,0.000000,0.657264,0.257958,0.00
89202,4.0,20240203,105430,175.000000,34.0,208364,185.000000,23.0,3,95.0,...,1.275862,5.0,3.724138,0.633333,0.500000,0.657585,0.620000,0.037585,0.266050,0.62
89203,4.0,20240203,212051,185.832809,18.0,209943,185.267928,21.0,3,77.0,...,0.000000,0.0,0.000000,0.681818,0.566667,0.419355,0.461538,0.042184,0.419355,0.00
89204,4.0,20240202,122533,185.832809,26.0,202475,185.267928,23.0,3,131.0,...,3.333333,0.0,3.333333,0.666667,0.609756,0.668269,0.000000,0.668269,0.668269,0.00
89205,4.0,20240202,122533,185.832809,26.0,144748,185.267928,27.0,3,159.0,...,4.500000,0.0,4.500000,0.672131,0.627451,0.667869,0.000000,0.667869,0.667869,0.00

In [87]:
df.isnull().sum().any()

False

In [88]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [89]:
    #VARIABLE DIF_AVG_PORCENTAJE
df['dif_avg_win1st_surface'] = (df['winner_avg_win1st_surface'] - df['loser_avg_win1st_surface']).abs()
df

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,loser_avg_bpS_surface,dif_avg_bpS_surface,winner_win1st,loser_win1st,winner_avg_win1st,loser_avg_win1st,dif_avg_win1st,winner_avg_win1st_surface,loser_avg_win1st_surface,dif_avg_win1st_surface
0,32.0,19910107,101142,180.000000,25.0,101746,175.000000,20.0,3,63.0,...,0.0,0.000000,0.810811,0.566667,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
1,32.0,19910107,101613,180.000000,21.0,100587,188.000000,31.0,3,72.0,...,0.0,0.000000,0.680000,0.733333,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
2,32.0,19910107,101179,185.000000,25.0,101601,185.000000,21.0,3,101.0,...,0.0,0.000000,0.636364,0.558140,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
3,32.0,19910107,101117,180.000000,25.0,101332,173.000000,23.0,3,108.0,...,0.0,0.000000,0.636364,0.622951,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
4,32.0,19910107,101901,185.000000,19.0,101735,196.000000,20.0,3,65.0,...,0.0,0.000000,0.739130,0.840000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89201,4.0,20240203,105430,175.000000,34.0,212051,185.267928,18.0,3,81.0,...,0.0,1.263158,0.727273,0.419355,0.657264,0.000000,0.657264,0.257958,0.00,0.257958
89202,4.0,20240203,105430,175.000000,34.0,208364,185.000000,23.0,3,95.0,...,5.0,3.724138,0.633333,0.500000,0.657585,0.620000,0.037585,0.266050,0.62,0.353950
89203,4.0,20240203,212051,185.832809,18.0,209943,185.267928,21.0,3,77.0,...,0.0,0.000000,0.681818,0.566667,0.419355,0.461538,0.042184,0.419355,0.00,0.419355
89204,4.0,20240202,122533,185.832809,26.0,202475,185.267928,23.0,3,131.0,...,0.0,3.333333,0.666667,0.609756,0.668269,0.000000,0.668269,0.668269,0.00,0.668269
89205,4.0,20240202,122533,185.832809,26.0,144748,185.267928,27.0,3,159.0,...,0.0,4.500000,0.672131,0.627451,0.667869,0.000000,0.667869,0.667869,0.00,0.667869

In [90]:
df.isnull().sum().any()

False

In [91]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [92]:
     # VARIABLE DOBLES FALTAS 

# Inicializar los diccionarios para almacenar victorias y derrotas acumuladas y aces acumulados
player_wins = {}
player_losses = {}
dfs_win={}
dfs_los={}

# Listas para almacenar los avg de los aces

winner_avg_dfs = []
loser_avg_dfs = []

# Iterar sobre el DataFrame para calcular los ratios de victorias acumuladas
for index, row in df.iterrows():
        winner = row['winner_id']
        loser = row['loser_id']
        w_df = row['w_df']
        l_df = row['l_df']
               
        # Actualizar victorias y derrotas acumuladas para el ganador
        if winner not in player_wins:
            player_wins[winner] = 0
            player_losses[winner] = 0
        if winner not in dfs_win:
            dfs_win[winner] = 0
            dfs_los[winner] = 0
        
        # Actualizar el promedio de aces del ganador
        total_games_winner = player_wins[winner] + player_losses.get(winner, 0)
        total_dfs_winner = dfs_win[winner] + dfs_los.get(winner,0)
        winner_avg_df = total_dfs_winner / total_games_winner if total_games_winner > 0 else 0
        winner_avg_dfs.append(winner_avg_df)
        dfs_win[winner]+=w_df
        player_wins[winner] += 1
    
        # Actualizar victorias y derrotas acumuladas para el perdedor
        if loser not in player_wins:
            player_wins[loser] = 0 
            player_losses[loser] = 0
        if loser not in dfs_win:
            dfs_win[loser] = 0
            dfs_los[loser] = 0         
            
        # Actualizar el promedio de aces del perdedor
        total_games_loser = player_wins[loser] + player_losses.get(loser, 0)
        total_dfs_loser = dfs_win[loser] + dfs_los.get(loser,0)
        loser_avg_df = total_dfs_loser / total_games_loser if total_games_loser > 0 else 0
        loser_avg_dfs.append(loser_avg_df)
        dfs_los[loser]+=l_df
        player_losses[loser] += 1
    
# A√±adir las columnas al DataFrame original
df['winner_avg_df'] = winner_avg_dfs
df['loser_avg_df'] = loser_avg_dfs
df

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,winner_win1st,loser_win1st,winner_avg_win1st,loser_avg_win1st,dif_avg_win1st,winner_avg_win1st_surface,loser_avg_win1st_surface,dif_avg_win1st_surface,winner_avg_df,loser_avg_df
0,32.0,19910107,101142,180.000000,25.0,101746,175.000000,20.0,3,63.0,...,0.810811,0.566667,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0
1,32.0,19910107,101613,180.000000,21.0,100587,188.000000,31.0,3,72.0,...,0.680000,0.733333,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0
2,32.0,19910107,101179,185.000000,25.0,101601,185.000000,21.0,3,101.0,...,0.636364,0.558140,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0
3,32.0,19910107,101117,180.000000,25.0,101332,173.000000,23.0,3,108.0,...,0.636364,0.622951,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0
4,32.0,19910107,101901,185.000000,19.0,101735,196.000000,20.0,3,65.0,...,0.739130,0.840000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89201,4.0,20240203,105430,175.000000,34.0,212051,185.267928,18.0,3,81.0,...,0.727273,0.419355,0.657264,0.000000,0.657264,0.257958,0.00,0.257958,3.064516,0.0
89202,4.0,20240203,105430,175.000000,34.0,208364,185.000000,23.0,3,95.0,...,0.633333,0.500000,0.657585,0.620000,0.037585,0.266050,0.62,0.353950,3.055046,2.0
89203,4.0,20240203,212051,185.832809,18.0,209943,185.267928,21.0,3,77.0,...,0.681818,0.566667,0.419355,0.461538,0.042184,0.419355,0.00,0.419355,4.000000,5.0
89204,4.0,20240202,122533,185.832809,26.0,202475,185.267928,23.0,3,131.0,...,0.666667,0.609756,0.668269,0.000000,0.668269,0.668269,0.00,0.668269,3.333333,0.0
89205,4.0,20240202,122533,185.832809,26.0,144748,185.267928,27.0,3,159.0,...,0.672131,0.627451,0.667869,0.000000,0.667869,0.667869,0.00,0.667869,2.750000,0.0

In [93]:
df.isnull().sum().any()

False

In [94]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [95]:
    #variable fierencia de df
df['dif_avg_df'] = (df['winner_avg_df'] - df['loser_avg_df']).abs()
df

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,loser_win1st,winner_avg_win1st,loser_avg_win1st,dif_avg_win1st,winner_avg_win1st_surface,loser_avg_win1st_surface,dif_avg_win1st_surface,winner_avg_df,loser_avg_df,dif_avg_df
0,32.0,19910107,101142,180.000000,25.0,101746,175.000000,20.0,3,63.0,...,0.566667,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000
1,32.0,19910107,101613,180.000000,21.0,100587,188.000000,31.0,3,72.0,...,0.733333,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000
2,32.0,19910107,101179,185.000000,25.0,101601,185.000000,21.0,3,101.0,...,0.558140,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000
3,32.0,19910107,101117,180.000000,25.0,101332,173.000000,23.0,3,108.0,...,0.622951,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000
4,32.0,19910107,101901,185.000000,19.0,101735,196.000000,20.0,3,65.0,...,0.840000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89201,4.0,20240203,105430,175.000000,34.0,212051,185.267928,18.0,3,81.0,...,0.419355,0.657264,0.000000,0.657264,0.257958,0.00,0.257958,3.064516,0.0,3.064516
89202,4.0,20240203,105430,175.000000,34.0,208364,185.000000,23.0,3,95.0,...,0.500000,0.657585,0.620000,0.037585,0.266050,0.62,0.353950,3.055046,2.0,1.055046
89203,4.0,20240203,212051,185.832809,18.0,209943,185.267928,21.0,3,77.0,...,0.566667,0.419355,0.461538,0.042184,0.419355,0.00,0.419355,4.000000,5.0,1.000000
89204,4.0,20240202,122533,185.832809,26.0,202475,185.267928,23.0,3,131.0,...,0.609756,0.668269,0.000000,0.668269,0.668269,0.00,0.668269,3.333333,0.0,3.333333
89205,4.0,20240202,122533,185.832809,26.0,144748,185.267928,27.0,3,159.0,...,0.627451,0.667869,0.000000,0.667869,0.667869,0.00,0.667869,2.750000,0.0,2.750000

In [96]:
df.isnull().sum().any()

False

In [97]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [98]:
    # VARIABLE J_AVG_DF_SURFACE

# Inicializar los diccionarios para almacenar victorias y derrotas acumuladas y aces acumulados
player_wins = {}
player_losses = {}
dfs_win={}
dfs_los={}

# Listas para almacenar los avg de los aces

winner_avg_dfs = []
loser_avg_dfs = []

# Iterar sobre el DataFrame para calcular los ratios de victorias acumuladas
for index, row in df.iterrows():
        winner = row['winner_id']
        loser = row['loser_id']
        w_df = row['w_df']
        l_df = row['l_df']
        surface=row['surface']
        winner_surface=str(winner)+surface
        loser_surface=str(loser)+surface
               
        # Actualizar victorias y derrotas acumuladas para el ganador
        if winner_surface not in player_wins:
            player_wins[winner_surface] = 0
           
        if winner_surface not in dfs_win:
            dfs_win[winner_surface] = 0
            
        
        # Actualizar el promedio de aces del ganador
        total_games_winner = player_wins.get(winner_surface,0) + player_losses.get(winner_surface, 0)
        total_dfs_winner = dfs_win.get(winner_surface,0) + dfs_los.get(winner_surface,0)
        winner_avg_df = total_dfs_winner / total_games_winner if total_games_winner > 0 else 0
        winner_avg_dfs.append(winner_avg_df)
        dfs_win[winner_surface]+=w_df
        player_wins[winner_surface] += 1
    
        # Actualizar victorias y derrotas acumuladas para el perdedor
        if loser_surface not in player_losses:
            
            player_losses[loser_surface] = 0
        if loser not in dfs_los:
            
            dfs_los[loser_surface] = 0         
            
        # Actualizar el promedio de aces del perdedor
        total_games_loser = player_wins.get(loser_surface,0) + player_losses.get(loser_surface, 0)
        total_dfs_loser = dfs_win.get(loser_surface,0) + dfs_los.get(loser_surface,0)
        loser_avg_df = total_dfs_loser / total_games_loser if total_games_loser > 0 else 0
        loser_avg_dfs.append(loser_avg_df)
        dfs_los[loser_surface]+=l_df
        player_losses[loser_surface] += 1
    
# A√±adir las columnas al DataFrame original
df['winner_avg_df_surface'] = winner_avg_dfs
df['loser_avg_df_surface'] = loser_avg_dfs
df

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,loser_avg_win1st,dif_avg_win1st,winner_avg_win1st_surface,loser_avg_win1st_surface,dif_avg_win1st_surface,winner_avg_df,loser_avg_df,dif_avg_df,winner_avg_df_surface,loser_avg_df_surface
0,32.0,19910107,101142,180.000000,25.0,101746,175.000000,20.0,3,63.0,...,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.0
1,32.0,19910107,101613,180.000000,21.0,100587,188.000000,31.0,3,72.0,...,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.0
2,32.0,19910107,101179,185.000000,25.0,101601,185.000000,21.0,3,101.0,...,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.0
3,32.0,19910107,101117,180.000000,25.0,101332,173.000000,23.0,3,108.0,...,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.0
4,32.0,19910107,101901,185.000000,19.0,101735,196.000000,20.0,3,65.0,...,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89201,4.0,20240203,105430,175.000000,34.0,212051,185.267928,18.0,3,81.0,...,0.000000,0.657264,0.257958,0.00,0.257958,3.064516,0.0,3.064516,1.228070,0.0
89202,4.0,20240203,105430,175.000000,34.0,208364,185.000000,23.0,3,95.0,...,0.620000,0.037585,0.266050,0.62,0.353950,3.055046,2.0,1.055046,1.224138,2.0
89203,4.0,20240203,212051,185.832809,18.0,209943,185.267928,21.0,3,77.0,...,0.461538,0.042184,0.419355,0.00,0.419355,4.000000,5.0,1.000000,4.000000,0.0
89204,4.0,20240202,122533,185.832809,26.0,202475,185.267928,23.0,3,131.0,...,0.000000,0.668269,0.668269,0.00,0.668269,3.333333,0.0,3.333333,3.333333,0.0
89205,4.0,20240202,122533,185.832809,26.0,144748,185.267928,27.0,3,159.0,...,0.000000,0.667869,0.667869,0.00,0.667869,2.750000,0.0,2.750000,2.750000,0.0

In [99]:
df.isnull().sum().any()

False

In [100]:
df.isin([np.inf, -np.inf]).sum().any()

False

In [101]:
    #VARIABLE DIF_AVG_DF_surface
df['dif_avg_df_surface'] = (df['winner_avg_df_surface'] - df['loser_avg_df_surface']).abs()
df

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,dif_avg_win1st,winner_avg_win1st_surface,loser_avg_win1st_surface,dif_avg_win1st_surface,winner_avg_df,loser_avg_df,dif_avg_df,winner_avg_df_surface,loser_avg_df_surface,dif_avg_df_surface
0,32.0,19910107,101142,180.000000,25.0,101746,175.000000,20.0,3,63.0,...,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
1,32.0,19910107,101613,180.000000,21.0,100587,188.000000,31.0,3,72.0,...,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
2,32.0,19910107,101179,185.000000,25.0,101601,185.000000,21.0,3,101.0,...,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
3,32.0,19910107,101117,180.000000,25.0,101332,173.000000,23.0,3,108.0,...,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
4,32.0,19910107,101901,185.000000,19.0,101735,196.000000,20.0,3,65.0,...,0.000000,0.000000,0.00,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89201,4.0,20240203,105430,175.000000,34.0,212051,185.267928,18.0,3,81.0,...,0.657264,0.257958,0.00,0.257958,3.064516,0.0,3.064516,1.228070,0.0,1.228070
89202,4.0,20240203,105430,175.000000,34.0,208364,185.000000,23.0,3,95.0,...,0.037585,0.266050,0.62,0.353950,3.055046,2.0,1.055046,1.224138,2.0,0.775862
89203,4.0,20240203,212051,185.832809,18.0,209943,185.267928,21.0,3,77.0,...,0.042184,0.419355,0.00,0.419355,4.000000,5.0,1.000000,4.000000,0.0,4.000000
89204,4.0,20240202,122533,185.832809,26.0,202475,185.267928,23.0,3,131.0,...,0.668269,0.668269,0.00,0.668269,3.333333,0.0,3.333333,3.333333,0.0,3.333333
89205,4.0,20240202,122533,185.832809,26.0,144748,185.267928,27.0,3,159.0,...,0.667869,0.667869,0.00,0.667869,2.750000,0.0,2.750000,2.750000,0.0,2.750000

In [102]:
df.isnull().sum().any()

False

In [103]:
df.isin([np.inf, -np.inf]).sum().any()

False

## ONEHOTENCODER

In [106]:
df.columns

Index(['draw_size', 'tourney_date', 'winner_id', 'winner_ht', 'winner_age',
       'loser_id', 'loser_ht', 'loser_age', 'best_of', 'minutes', 'w_ace',
       'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms',
       'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn',
       'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points',
       'sets', 'tourney_name', 'surface', 'tourney_level', 'winner_name',
       'winner_hand', 'winner_ioc', 'loser_name', 'loser_hand', 'loser_ioc',
       'score', 'round', 'tourney_year', 'tourney_month', 'estacion',
       'dif_age', 'dif_rank', 'prop_dif_rank', 'dif_rank_points',
       'prop_dif_rank_points', 'dif_ht', 'sets_mean_toronda', 'juegos',
       'juegos_mean_toronda', 'num_ronda', 'ronda', 'winner_win_ratio',
       'loser_win_ratio', 'dif_win_ratio', 'winner_wrat_surface',
       'loser_wrat_surface', 'dif_wrat_surface', 'winner_avg_ace',
       'loser_avg_ace', 'dif_avg_aces', 'winner_avg_ace_surface',
       'loser_avg_ace_surface', 'dis_avg_ace_surface', 'winner_rat_bpS',
       'loser_rat_bpS', 'winner_avg_bpS', 'loser_avg_bpS', 'dis_avg_bpS',
       'winner_avg_bpS_surface', 'loser_avg_bpS_surface',
       'dif_avg_bpS_surface', 'winner_win1st', 'loser_win1st',
       'winner_avg_win1st', 'loser_avg_win1st', 'dif_avg_win1st',
       'winner_avg_win1st_surface', 'loser_avg_win1st_surface',
       'dif_avg_win1st_surface', 'winner_avg_df', 'loser_avg_df', 'dif_avg_df',
       'winner_avg_df_surface', 'loser_avg_df_surface', 'dif_avg_df_surface'],
      dtype='object')

## ONEHOTENCODER

In [107]:
  # OneHotEncoder ['surface', 'tourney_level', 'winner_hand','loser_hand','estacion']

from sklearn.preprocessing import OneHotEncoder

    #crear objeto
encoder = OneHotEncoder(sparse_output=False, #por defecto el formato el formato es sparse
                        drop='first', # no creamos una nueva columna con la primera categoria que encuentra
                        handle_unknown='ignore') #ignorar nuevas categorias 

    #entrenar objeto
encoder.fit(df[['surface', 'tourney_level', 'winner_hand','loser_hand','estacion']])

    #Transformacion --> array
encoder.transform(df[['surface', 'tourney_level', 'winner_hand','loser_hand','estacion']])

    #
nombre_columnas= encoder.get_feature_names_out(['surface', 'tourney_level', 'winner_hand','loser_hand','estacion'])

    #
df[nombre_columnas] = encoder.transform(df[['surface', 'tourney_level', 'winner_hand','loser_hand','estacion']])

    #
df = df.drop(columns=['surface', 'tourney_level', 'winner_hand','loser_hand','estacion'])

In [108]:
df

,draw_size,tourney_date,winner_id,winner_ht,winner_age,loser_id,loser_ht,loser_age,best_of,minutes,...,tourney_level_M,winner_hand_L,winner_hand_R,winner_hand_U,loser_hand_L,loser_hand_R,loser_hand_U,estacion_oto√±o,estacion_primavera,estacion_verano
0,32.0,19910107,101142,180.000000,25.0,101746,175.000000,20.0,3,63.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,32.0,19910107,101613,180.000000,21.0,100587,188.000000,31.0,3,72.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,32.0,19910107,101179,185.000000,25.0,101601,185.000000,21.0,3,101.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,32.0,19910107,101117,180.000000,25.0,101332,173.000000,23.0,3,108.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,32.0,19910107,101901,185.000000,19.0,101735,196.000000,20.0,3,65.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89201,4.0,20240203,105430,175.000000,34.0,212051,185.267928,18.0,3,81.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
89202,4.0,20240203,105430,175.000000,34.0,208364,185.000000,23.0,3,95.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
89203,4.0,20240203,212051,185.832809,18.0,209943,185.267928,21.0,3,77.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
89204,4.0,20240202,122533,185.832809,26.0,202475,185.267928,23.0,3,131.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
89205,4.0,20240202,122533,185.832809,26.0,144748,185.267928,27.0,3,159.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [109]:
df.isnull().sum().any()

False

In [110]:
df.isin([np.inf, -np.inf]).sum().any()

False

## BORRAR VARIABLES SIN INTERES

In [111]:
df.columns

Index(['draw_size', 'tourney_date', 'winner_id', 'winner_ht', 'winner_age',
       'loser_id', 'loser_ht', 'loser_age', 'best_of', 'minutes',
       ...
       'tourney_level_M', 'winner_hand_L', 'winner_hand_R', 'winner_hand_U',
       'loser_hand_L', 'loser_hand_R', 'loser_hand_U', 'estacion_oto√±o',
       'estacion_primavera', 'estacion_verano'],
      dtype='object', length=103)

In [105]:
df.drop(columns=['tourney_date', 'winner_id','loser_id',
                 'w_ace','w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced',
                 'l_ace', 'l_df', 'l_svpt', 'l_1stIn','l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
                'sets', 'tourney_name', 'winner_name', 'winner_ioc', 'loser_name','loser_ioc', 'score', 'round','juegos', 
                 'winner_win1st','loser_win1st'],inplace= True)

In [106]:
df.columns

Index(['draw_size', 'winner_ht', 'winner_age', 'loser_ht', 'loser_age',
       'best_of', 'minutes', 'winner_rank', 'winner_rank_points', 'loser_rank',
       'loser_rank_points', 'surface', 'tourney_level', 'winner_hand',
       'loser_hand', 'tourney_year', 'tourney_month', 'estacion', 'dif_age',
       'dif_rank', 'prop_dif_rank', 'dif_rank_points', 'prop_dif_rank_points',
       'dif_ht', 'sets_mean_toronda', 'juegos_mean_toronda', 'num_ronda',
       'ronda', 'winner_win_ratio', 'loser_win_ratio', 'dif_win_ratio',
       'winner_wrat_surface', 'loser_wrat_surface', 'dif_wrat_surface',
       'winner_avg_ace', 'loser_avg_ace', 'dif_avg_aces',
       'winner_avg_ace_surface', 'loser_avg_ace_surface',
       'dis_avg_ace_surface', 'winner_rat_bpS', 'loser_rat_bpS',
       'winner_avg_bpS', 'loser_avg_bpS', 'dis_avg_bpS',
       'winner_avg_bpS_surface', 'loser_avg_bpS_surface',
       'dif_avg_bpS_surface', 'winner_avg_win1st', 'loser_avg_win1st',
       'dif_avg_win1st', 'winner_avg_win1st_surface',
       'loser_avg_win1st_surface', 'dif_avg_win1st_surface', 'winner_avg_df',
       'loser_avg_df', 'dif_avg_df', 'winner_avg_df_surface',
       'loser_avg_df_surface', 'dif_avg_df_surface'],
      dtype='object')

## Cambiar nombres y orden

In [107]:
{'winner_ht':'J1_ht', 'winner_age': 'J1_age', 'winner_rank', 'winner_rank_points', 'winner_win_ratio','winner_wrat_surface','winner_avg_ace', 'winner_avg_ace_surface',
 'winner_rat_bpS','winner_avg_bpS','winner_avg_bpS_surface', 'winner_avg_win1st','loser_avg_win1st','winner_avg_df', 'winner_avg_df_surface','winner_hand_L', 'winner_hand_R',
 
 'loser_ht': 'J2_ht', 'loser_age':'J2_age','loser_rank','loser_rank_points','loser_win_ratio','loser_wrat_surface','loser_avg_ace','loser_avg_ace_surface','loser_rat_bpS',
 'loser_avg_bpS', 'loser_avg_bpS_surface','loser_avg_win1st','loser_avg_win1st_surface', 'loser_avg_df','loser_avg_df_surface','loser_hand_U',

SyntaxError: ':' expected after dictionary key (665100653.py, line 1)

In [ ]:
df.rename(columns=lambda colum: colum.replace('winner', 'J1') if colum.startswith('winner') else colum, inplace=True)
df.columns

In [108]:
df.rename(columns=lambda colum: colum.replace('loser', 'J2') if colum.startswith('loser') else colum, inplace=True)
df.columns

Index(['draw_size', 'winner_ht', 'winner_age', 'J2_ht', 'J2_age', 'best_of',
       'minutes', 'winner_rank', 'winner_rank_points', 'J2_rank',
       'J2_rank_points', 'surface', 'tourney_level', 'winner_hand', 'J2_hand',
       'tourney_year', 'tourney_month', 'estacion', 'dif_age', 'dif_rank',
       'prop_dif_rank', 'dif_rank_points', 'prop_dif_rank_points', 'dif_ht',
       'sets_mean_toronda', 'juegos_mean_toronda', 'num_ronda', 'ronda',
       'winner_win_ratio', 'J2_win_ratio', 'dif_win_ratio',
       'winner_wrat_surface', 'J2_wrat_surface', 'dif_wrat_surface',
       'winner_avg_ace', 'J2_avg_ace', 'dif_avg_aces',
       'winner_avg_ace_surface', 'J2_avg_ace_surface', 'dis_avg_ace_surface',
       'winner_rat_bpS', 'J2_rat_bpS', 'winner_avg_bpS', 'J2_avg_bpS',
       'dis_avg_bpS', 'winner_avg_bpS_surface', 'J2_avg_bpS_surface',
       'dif_avg_bpS_surface', 'winner_avg_win1st', 'J2_avg_win1st',
       'dif_avg_win1st', 'winner_avg_win1st_surface', 'J2_avg_win1st_surface',
       'dif_avg_win1st_surface', 'winner_avg_df', 'J2_avg_df', 'dif_avg_df',
       'winner_avg_df_surface', 'J2_avg_df_surface', 'dif_avg_df_surface'],
      dtype='object')

In [109]:
df.to_csv('feature_cat.csv',index= False)

# FEATURES _FINAL

In [120]:
df

,draw_size,J1_ht,J1_age,J2_ht,J2_age,best_of,minutes,J1_rank,J1_rank_points,J2_rank,...,tourney_level_M,J1_hand_L,J1_hand_R,J1_hand_U,J2_hand_L,J2_hand_R,J2_hand_U,estacion_oto√±o,estacion_primavera,estacion_verano
0,32.0,180.000000,25.0,175.000000,20.0,3,63.0,0.111111,1487.0,0.012821,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,32.0,180.000000,21.0,188.000000,31.0,3,72.0,0.010638,371.0,0.004545,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,32.0,185.000000,25.0,185.000000,21.0,3,101.0,0.012987,468.0,0.004717,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,32.0,180.000000,25.0,173.000000,23.0,3,108.0,0.015385,502.0,0.013889,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,32.0,185.000000,19.0,196.000000,20.0,3,65.0,0.005263,142.0,0.035714,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89201,4.0,175.000000,34.0,185.267928,18.0,3,81.0,0.007353,489.0,0.000902,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
89202,4.0,175.000000,34.0,185.000000,23.0,3,95.0,0.007353,489.0,0.001623,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
89203,4.0,185.832809,18.0,185.267928,21.0,3,77.0,0.000902,8.0,0.001351,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
89204,4.0,185.832809,26.0,185.267928,23.0,3,131.0,0.001805,67.0,0.001337,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
89205,4.0,185.832809,26.0,185.267928,27.0,3,159.0,0.001805,67.0,0.002404,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [121]:
df.to_csv('features_final.csv',index=False)

In [122]:
df.shape

(89205, 71)